<!DOCTYPE html>
<html>
    <head>
    <title><%= @title %> || Security test</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
        <footer class="main-footer text-center">
            <strong>Copyright © 2017 LIFULL Tech Vietnam Co.,Ltd.</strong> All rights reserved.
        </footer>
    </body>
</html>